.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span{
  padding: 5px;
}

.close {
  left: 75%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
}

.popup_upper {
  position: absolute;
  text-align: center;
  left: 20%;
  right: 20%;
  top: 15%;
  bottom: 80%;
  background: white;
}

.popup_inner {
  position: absolute;
  padding: 20px;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  background: white;
}

.popup_under {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 80%;
  bottom: 15%;
  text-align: center;
  background: white;
}

.progressBar{
  position: absolute;
  height: 30px;
  border-radius: 50px;
  border: 2px solid black;
  left: 20%;
  right: 20%;
  top: 10%;
}

.filler{
  background: #1DA598;
  height: 100%;
  border-radius: 50px;
  transition: width .2s ease-in;
}
